* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/*CUSTOM PROPERTIES*/
:root {
  --color-background: #222327;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 20vh;
  margin-top: 10vh;
  background: var(--color-background);
}

.navigation {
  position: relative;
  width: 80%;
  height: 70px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.navigation ul {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.navigation ul li {
  position: relative;
  list-style: none;
  width: auto;
  height: 70px;
  z-index: 1;
}

.navigation ul li a {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  font-weight: 500;
}

.navigation ul li a .icon {
  position: relative;
  display: inline;
  line-height: 75px;
  font-size: 1.5em;
  text-align: center;
  transition: 0.5s;
  color: var(--color-background);
}

.navigation ul li.active a .icon {
  transform: translateY(-40px);
}

.navigation ul li a .text {
  position: absolute;
  color: var(--color-background);
  font-weight: 500;
  font-size: 0.75em;
  letter-spacing: 0.5em;
  transition: 0.5s;
  opacity: 0;
  transform: translateY(5px);
  margin-block-end: -10px;
}

.navigation ul li.active a .text {
  opacity: 1;
  transform: translateY(-5px);
  margin-top: 20px;
}

.indicator {
  position: absolute;
  top: -55%;
  width: 70px;
  height: 70px;
  left: 25px;
  background: #29fd53;
  border-radius: 50%;
  border: 5px solid var(--color-background);
  transition: 0.5s;
}

.indicator::before {
  position: absolute;
  top: 56%;
  left: -19px;
  content: "";
  width: 20px;
  height: 20px;
  background: transparent;
  border-top-right-radius: 20px;
  box-shadow: 0px -10px 0 0 var(--color-background);
}

.indicator::after {
  position: absolute;
  top: 56%;
  right: -19px;
  content: "";
  width: 20px;
  height: 20px;
  background: transparent;
  border-top-left-radius: 20px;
  box-shadow: 0px -10px 0 0 var(--color-background);
}

.navigation ul li:nth-child(1).active ~ .indicator {
  transform: translateX(calc(70px * 2));
}
.navigation ul li:nth-child(2).active ~ .indicator {
  transform: translateX(calc(70px * 5));
}
.navigation ul li:nth-child(3).active ~ .indicator {
  transform: translateX(calc(70px * 7.95));
}
.navigation ul li:nth-child(4).active ~ .indicator {
  transform: translateX(calc(70px * 10.95));
}