main {
  width: 80%;
  min-height: 50vh;
  margin-top: 35vh;
  margin-bottom: 100px;
}

.knowledge-and-experience {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.knowledge-and-experience h3 {
  display: inline-block;
  border-bottom: 2px solid var(--color-general-blue);
  margin-top: 50px;
  font-size: var(--size-text-title);
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  main {
    width: 90%;
    margin-top: 5vh;
  }

  .knowledge-and-experience h3 {
    font-size: var(--size-text-title-mobile);
  }
}
