@media only screen and (min-width: 320px) and (max-width: 480px) {
  .certificates {
    margin-top: 20px;
    margin-bottom: 20px;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 0;
    row-gap: 25px;
  }

  .certificate-item {
    height: 250px;
  }

  .certificate-image {
    height: 200px;
  }

  .certificate-name {
    font-size: var(--size-text-info-mobile);
    font-weight: 600;
  }
}
