@media only screen and (min-width: 320px) and (max-width: 480px) {
  .work-item {
    margin-left: 0;
  }
  .work-item .circle {
    margin-left: 20px;
  }

  .work-duration {
    width: 200px;
  }

  .work-information {
    margin-left: 20px;
  }

  .work-level,
  .work-duration span {
    font-size: var(--size-text-normal-mobile);
  }

  .work-level-information {
    font-size: var(--size-text-info-mobile);
    margin-left: 20px;
  }
}
