.hard-skills {
  padding-top: 5vh;

  display: inline-block;
  align-items: left;
  font-size: var(--size-text-normal);
}

.hard-skills span {
  font-weight: 600;
  font-size: var(--size-text-normal);
  padding-right: 20px;
}

.hard-skills p {
  font-size: var(--size-text-info);
  font-style: italic;
  padding-top: 1vh;
}

.digital-skills-text,
.soft-skills-text {
  padding-top: 5vh;
  font-size: var(--size-text-normal);
  text-align: justify;
  line-height: 1.5;
}
