@media (max-width: 700px) {
  .quote {
    font-size: var(--size-text-quote-mobile);
    margin-top: 0;
  }

  .about-intro {
    flex-direction: column;
  }

  .about-intro-text {
    font-size: var(--size-text-normal-mobile);
  }

  .about-intro-image {
    margin-top: 10vh;
    padding-left: 12vw;
    width: 70%;
  }

  .about-intro-image img {
    border-radius: 100%;
    object-fit: cover;
    object-position: center;
  }
}
