main {
  width: 80%;
  min-height: 60vh;
  margin-top: 30vh;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quote {
  margin-top: 15vh;
  padding-bottom: 5vh;
  font-size: var(--size-text-quote);
  color: var(--color-general-blue);
  font-weight: 600;
  font-style: italic;
  text-align: center;
  border-bottom: 3px solid var(--color-general-blue);
}

.about-intro {
  margin-top: 50vh;
  padding-bottom: 20vh;
  display: flex;
  justify-content: center;
  align-items: top;
}

.about-intro-text {
  flex: 3;
  font-size: var(--size-text-normal);
  text-align: justify;
}

.about-intro-image {
  flex: 1;
  padding-left: 5%;
}

.about-intro-image img {
  width: 100%;
  border-radius: 100%;
  object-fit: cover;
  object-position: center;
}
