@media only screen and (min-width: 320px) and (max-width: 480px) {
  footer {
    flex-direction: column;
  }

  .social-media-account {
    flex-direction: column;
    gap: 2vh;
  }

  .social-media-card {
    margin: 0;
    padding: 0;
  }

  .social-media-card p {
    font-size: var(--size-text-info-mobile);
    margin-top: 1vh;
    opacity: 1;
  }

  .social-media-thumbnail {
    border: none;
    border-radius: none;
  }
  .social-icon {
    width: 30px;
    padding: 0;
  }
}
