header {
  min-height: 100vh;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 100;
}

.navigation-menu {
  background-color: var(--color-navigation-background-blue);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.navigation-menu-icon {
  height: 100px;
  padding-right: 5vh;
}
.navigation-links {
  text-align: center;
}

.navigation-menu ul li {
  list-style: none;
  display: inline-block;
  position: relative;
}
.navigation-menu ul li::after {
  background: var(--color-text-white);
  /*content property is needed because it wouldn't work*/
  content: "";
  height: 3px;
  /*auto becasue the animation would go from left to right*/
  margin: auto;
  display: block;
  width: 0%;
  transition: width 0.5s;
}
.navigation-menu ul li:hover::after {
  width: 100%;
}

.navigation-menu ul li a {
  text-decoration: none;
  font-size: var(--size-text-menu);
  font-weight: 700;
  color: var(--color-text-white);
  cursor: pointer;
}
