/*CUSTOM PROPERTIES*/
:root {
  --color-background: #ffffff;
  --color-navigation-background: #4e8397;
  --color-text-white: #ffffff;
  font-family: Roboto, Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}
