.work {
  display: inline-block;
  align-items: left;
}

.work-item {
  display: flex;
  flex-direction: row;
  margin-left: 15%;
  margin-top: 20px;
}

.work-item .circle {
  font-size: var(--size-text-normal);
  font-weight: 600;
  color: var(--color-general-blue);
  margin-left: 30px;
}

.work-duration {
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.work-information {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  width: 100%;
}

.work-level,
.work-duration span {
  font-size: var(--size-text-normal);
  font-weight: 500;
}

.work-level-information {
  font-size: var(--size-text-info);
  margin-top: 10px;
  margin-left: 40px;
}
.work-level-information span {
  font-style: italic;
  font-weight: 500;
  margin-left: 1%;
}
