.blender {
  margin-bottom: 20vh;
}
.blender h3 {
  margin-top: 30vh;
  font-size: var(--size-text-title);
  border-bottom: 2px solid var(--color-general-blue);
}
.blender-art {
  margin-top: 6vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
  row-gap: 30px;
  overflow: hidden;
}

.blender-image {
  height: 300px;
  overflow: hidden;

  height: 240px;
  object-fit: fill;
  object-position: bottom;
  vertical-align: middle;
}
