main {
  width: 80%;
  min-height: 50vh;
  margin-top: 100px;
  margin-bottom: 100px;
}

.knowledge-and-experience {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.knowledge-and-experience h3 {
  display: inline-block;
  font-size: 24px;
  border-bottom: 2px solid var(--color-general-blue);
  margin-top: 80px;

}
