header {
  height: 10vh;
  width: 100%;
}

.navigation-menu {
  background-color: var(--color-navigation-background-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.navigation-menu-icon {
  max-height: 100px;
  padding-right: 5vh;
}
.navigation-menu-icon-cross,
.navigation-menu-icon-hamburger {
  display: none;
}

.navigation-links {
  text-align: center;
  display: flex;
  gap: 2vw;
}

.navigation-links a {
  list-style: none;
  display: inline-block;
  position: relative;
  text-decoration: none;
  font-size: var(--size-text-menu);
  font-weight: 700;
  color: var(--color-text-white);
  cursor: pointer;
}
.navigation-menu a::after {
  background: var(--color-text-white);
  /*content property is needed because it wouldn't work*/
  content: "";
  height: 3px;
  /*auto becasue the animation would go from left to right*/
  margin: auto;
  display: block;
  width: 0%;
  transition: width 0.5s;
}
.navigation-menu a:hover::after {
  width: 100%;
}
